<div class="footer-dark">
  <div class="row">
    <div class="col-sm-8">
        <p class="footer-name">Developed By @Parag Badala</p>
    </div>
    <div class="col-sm-4">
      <div class="content social">
        <div class="main-footer__socials">
          <a class="icon-social" href="#" title="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="icon-social" href="#" title="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a class="icon-social" href="#" title="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a class="icon-social" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a class="icon-social" href="" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
          <a class="icon-social" href="" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
